* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif, Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(images/westback0.jpg);
  background-position: center center;
  background-size: cover;
  height: 200vh;
  background-attachment: fixed;
  background-position: center;
}

.fadeIn {
  animation: fade 3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* ///// Landing page overlay, modal ///// */

/* modal with background */
/* .modal::before {
  content: url(images/site_cover_logo.png);
  position: fixed;
  top: 0;
  left: 26%;
  margin-left: 1em;
  margin-top: 1em;
  z-index: 1;
  box-shadow: 0 0 0 300em rgba(240, 240, 240, 1);
  width: 0;
  height: 0;
  animation: enterFade 3s 2s ease-in;
}

@keyframes enterFade {
  from {
    filter: alpha(opacity=1);
    box-shadow: 0 0 0 300em rgba(240, 240, 240, 1);
  }

  to {
    filter: alpha(opacity=0);
    box-shadow: 0 0 0 300em rgba(240, 240, 240, 0);
  }
}
*/

/* .modal::after {
  box-shadow: 0 0 0 300em rgba(240, 240, 240, 0);
  filter: alpha(opacity=0);
} */

/* logo */
/* #logoEnter::before {
  content: " ";
  animation: logoFade 3s 2s ease-in;
}

@keyframes logoFade {
  from {
    opacity: 1;
    animation-delay: -5;
  }
  to {
    opacity: 0;
  }
}

#logoEnter::after {
  opacity: 0;
} */

/* button to enter */

/* .enter {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid black;
  font-size: 2em;
  text-align: center;
  margin: 24px auto;
  display: block;
  top: 10%;
  left: 50%;
  padding: 4px;
  outline: none;
  animation: enterButton 3s;
}

@keyframes enterButton {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
} */

/* ////Header//// */

header {
  background-image: linear-gradient(
    to top,
    rgba(216, 216, 216, 0.82),
    rgba(0, 0, 0, 0)
  );
  border-bottom: 2px solid whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
}

header img {
  display: block;
  float: left;
  padding: 16px;
  height: 5%;
  width: 5%;
}

/* / dropdown menu /*/
.dropdown {
  float: right;
  margin: 25px 100px 0 0;
}

.dropnav {
  z-index: 1;
  position: fixed;
  background-color: rgba(223, 223, 223, 0.8);
  overflow: hidden;
  padding: 8px;
  line-height: 2;
  display: none;
}

.dropnav:hover {
  display: block;
}

.dropnav a {
  padding: 2px;
  text-decoration: none;
  font-size: 1.4em;
  display: block;
  color: white;
}

.dropnav a:hover {
  border: 1px solid whitesmoke;
  background-color: rgba(223, 223, 223, 1);
}

.menu {
  font-size: 2em;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 5px;
  padding: 2px 6px;
}

.menu:hover + nav {
  display: block;
}

/* /// Welcome /// */
.welcomeFlex {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: space-around;
  margin: 160px 0 16px 0;
}

#westlogo {
  display: block;
  width: 100%;
  margin: auto;
  padding: 4px;
  margin-top: 25px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: whitesmoke;
  margin-top: 250px;
  padding: 4px;
  text-shadow: 2px 2px 4px gray;
}

h2 {
  color: whitesmoke;
  text-shadow: 1px 1px gray;
}

hr {
  margin: 150px 0;
}

#welcometext {
  padding: 16px;
  color: whitesmoke;
  font-size: 1.2em;
  font-style: italic;
  background-color: rgba(245, 245, 245, 0.3);
  text-align: center;
  margin: 24px 0;
  text-shadow: 1px 1px 2px gray;
}

/* //////////// Slideshow /////////////////// */

/* /// Attractions /// */
#attractions {
  margin-top: 25px;
}

.attractionsFlex {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.3);
  margin: 24px 0 16px 0;
}

/* // Sweetwater // */
.sweetwaterFlex {
  display: flex;
  margin: 16px;
}

.sweetwaterFlex img {
  float: right;
  width: 50%;
  height: 50%;
  /* margin: 16px; */
  display: block;
  border: 3px solid white;
}

/* /////// People slide ///////// */

/* .slide_people {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slidesPeople {
  display: none;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
} */

.sweetwaterFlex p {
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  text-align: justify;
  text-align: left;
  padding: 0 4px;
  line-height: 1.2em;
  font-size: 1.2em;
}

/* // Bounties // */
.bountiesFlex {
  display: flex;
  margin: 16px;
  flex-shrink: 1.5;
}

.bountiesFlex img {
  border: 3px solid white;
  float: right;
  margin: 4px;
  display: block;
}

.bountiesFlex p {
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  text-align: justify;
  padding: 0 4px;
  line-height: 1.2em;
  font-size: 1.2em;
}

/* // People // */
.peopleFlex {
  display: flex;
  margin: 16px;
}

.peopleFlex img {
  border: 3px solid white;
  float: right;
  margin: 4px;
  display: block;
}

.peopleFlex p {
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  text-align: left;
  padding: 12px;
  margin: 4px;
  line-height: 1.2em;
  font-size: 1.2em;
}

/* // Formula // */
.formulaFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}

.ticketsFlex {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  margin: 0 18px 24px 120px;
}

fieldset {
  line-height: 1.5em;
  padding: 8px;
}

input[type="button"] {
  color: rgb(97, 97, 97);
  font-size: 1.2em;
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 1px 2px rgb(59, 59, 59);
  padding: 4px;
}

input[type="button"]:active {
  color: white;
  background-color: gray;
}

input {
  outline: none;
}

input:focus {
  background-color: rgb(163, 172, 202);
}

fieldset p {
  margin: 16px;
}

#required {
  color: rgb(194, 1, 1);
  font-weight: bold;
}

.ticketsFlex h2 {
  text-align: center;
  color: rgb(189, 189, 189);
  padding: 6px;
}

/* Contact */
.contactFlex {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  line-height: 1.4em;
  margin: 0 180px 0 12px;
}

.contactFlex h2 {
  text-align: center;
  color: rgb(189, 189, 189);
  padding: 12px;
}
/* /// Footer & Worlds /// */
footer {
  color: whitesmoke;
  text-shadow: 1px 1px gray;
  background-image: linear-gradient(
    to bottom,
    rgba(216, 216, 216, 0.8),
    rgba(126, 126, 126, 0.521)
  );
  border-top: 2px solid rgb(212, 212, 212);
  /* display: inline; */
  /* position: sticky; */
  padding: 24px;
}

footer ul {
  display: flex;
  justify-self: end;
  justify-content: space-evenly;
}

footer ul li {
  list-style: none;
}

footer ul li img {
  display: block;
  width: 80%;
  height: 90%;
  padding: 16px;
}

footer img:hover {
  transform: scale(1.2);
}

footer p {
  float: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.15em;
  font-weight: bold;
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
}

/* /// Scrollbar /// */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 10px;
}

/* //////////////////////////////////////////////// 
                     LOADING PAGE CSS
/////////////////////////////////////////////// */
/* //// Loading Page body */
.loadingScreen {
  background: #efefef;
}

.WWloadIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
  height: 30%;
  width: 30%;
}

.loadText {
  text-align: center;
  font-size: 3em;
  margin: 24px auto 0 auto;
  animation: load 2s ease-in;
  white-space: wrap;
  overflow: hidden;
  position: absolute;
  left: 11em;
  display: block;
  letter-spacing: 4px;
  animation: load 2s ease;
}

@keyframes load {
  from {
    width: 0%;
  }

  to {
    width: 18%;
  }
}

.underscore {
  animation: underScore 1s infinite;
}

@keyframes underScore {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ///////// SCRIPT ////////////////// */
